*{
  margin: 0;
  padding: 0;
}

.app{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0.5rem;
}

.seeker{
  width: 17rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.container_gifs{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seeker::placeholder{
  padding: 0.5rem;
}